<% provide(:title, t('.title')) %>

<%- content_for :sidebar do -%>
<%= render "sessions/login" %>
<%- end -%>

<%- content_for :body do -%>
<div class="span6 offset2">
  <h3><%= t('.sign_up') %></h3>
  <%= form_for(@user) do |f| %>

  <%= render 'shared/form_fields', f: f %>
  <%= f.submit t('.create_account'), class: "btn btn-primary" %>

  <% end %>
</div>
<%- end -%>