<%- content_for :sidebar do -%>
<div class="span4 spinner-settings-sidenav">
 <aside>
  <section> 
    <div class="user_data">
      <%= gravatar_for current_user, size: 40 %><a href="<%= user_path current_user %>">
      <%= current_user.name %></a>@<%= current_user.username %>
    </div>
  </section>
</aside>
<br />
<ul class="nav nav-tabs nav-stacked">
  <li class="active"><a href="#"><i class="icon-chevron-right"></i>Account</a></li>   <%# active=selected %>
  <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
</ul>
</div>
<%- end -%>
<%- content_for :body do -%>
<% provide(:title, "Edit user") %> 

  <div class="span8 well">
    <h2>Update your profile</h2>

    <%= form_for(@user) do |f| %>

      <%= render 'shared/form_fields', f: f %>

      <%= f.submit "Save Changes", class: "btn btn-primary" %>

    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
</div>
<%- end -%>