 <% provide(:title, "Home Page") %>
 <%- content_for :sidebar do -%>
 <div class="span4 spinner-settings-sidenav">
  <%= render 'shared/side_nav_stacked' %>
  <aside>
    <section>
      <% if current_user?(@user) && current_user.followers.pending_requests.any? %>         
            <%= render 'shared/request_notifications' %>         
      <% end %>
    </section>
  </aside>
</div>

<%- end -%>
<%- content_for :body do -%>

<%= render 'shared/user_profile_card' %>  

<div class="span8 well">
<% if ( @user.private && !current_user.can_see?(@user) ) || ( !@user.private && @user.blocking?(current_user) )%>
 <h5><%= "#{@user.username}" %>'s spins are protected and just confirmed followers can see his complete profile. Click on the follow button to send him a follow request.
 <% else %>
 </h5>
  <% if @user.spins.any? %>
    <h3>Spins (<%= @user.spins.count %>)</h3>
    <ol class="spins">
     <%= render @spins %>
    </ol>
     <%= paginate @spins %>
  <% else %>
     <h5>No spins here!</h5>
  <% end %>
<% end %>
</div>
<%- end -%>
