<% provide(:title, @title) %>
 <%- content_for :sidebar do -%>
 <div class="span4 spinner-settings-sidenav">
  <%= render 'shared/side_nav_stacked' %>
</div>

<%- end -%>
<%- content_for :body do -%>
<%= render 'shared/user_profile_card' %>   
<div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% elsif current_page?(:action => 'pending_requests') && !@user.followers.pending_requests.any? %>
         <h5>Currently you have 0 following requests.</h5>
    <% else %>
        <% if current_page?(:action => 'followers') %>
           <h5>Currently you have no followers </h5>
        <% else %>
          <h5>Currently you aren't following any user</h5>
        <% end %>
    <% end %>
  </div>
<%- end -%>