<% provide(:title, @title) %>
 <%- content_for :sidebar do -%>
 <div class="span4 loop-settings-sidenav">

  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#"><i class="icon-chevron-right"></i>Account</a></li>   <%# active=selected %>
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
  </ul>
</div>

<%- end -%>
<%- content_for :body do -%>
<div class="span8 well">
  <h5>User</h5>
  <h6>
   <%= gravatar_for @user %>
   <%= @user.name %>
 </h6>

</div>
<div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
<%- end -%>