 <% provide(:title, "Home Page") %>
 <%- content_for :sidebar do -%>
 <div class="span4 loop-settings-sidenav">
  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#"><i class="icon-chevron-right"></i>Account</a></li>   <%# active=selected %>
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
  </ul>
  <aside>
    <section>
      <% unless current_user?(@user) %>
          <%= render 'shared/reply_spin_form' %>
      <% else %>
          Multimedia Stockpile
        <% end %>
    </section>
  </aside>
</div>

<%- end -%>
<%- content_for :body do -%>

<%= render 'shared/user_profile_card' %>  

<div class="span8 well">
  <% if @user.spins.any? %>
  <h3>Spins (<%= @user.spins.count %>)</h3>
  <ol class="spins">
    <%= render @spins %>
  </ol>
  <%= paginate @spins %>
  <% end %>
</div>
<%- end -%>
