 <% provide(:title, "Home Page") %>
 <%- content_for :sidebar do -%>
 <div class="span4 loop-settings-sidenav">
  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#"><i class="icon-chevron-right"></i>Account</a></li>   <%# active=selected %>
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
  </ul>
</div>

<%- end -%>
<%- content_for :body do -%>

<div class="span8 well">
  <div class="user_data">
              <%= gravatar_for @user, size: 52 %><a href="<%= user_path(@user) %>">
                     <%= @user.name %></a>@<%= @user.username %> 
  </div>
            <div class="row-fluid">
                <div class="span6 pull-left"><%= render 'shared/user_stats' %></div>
                <div class="span2 pull-right"><%= render 'follow_form' if signed_in? %></div> 
            </div>  
        </div>

   
<div class="span8 well">
  <% if @user.spins.any? %>
  <h3>Spins (<%= @user.spins.count %>)</h3>
  <ol class="spins">
    <%= render @spins %>
  </ol>
  <%= paginate @spins %>
  <% end %>
</div>
<%- end -%>
