<h3><%= t('.spin') %></h3>
<%= form_for(@spin) do |f| %> 
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
	<%= f.text_area :content, placeholder: t('.compose_spin') %>
</div>
<span class="help-block">140</span>
<%= f.submit  t('.spin') , class: "btn btn-primary" %>
<% end %>