<li id="<%= timeline_item.id %>">
	<%= link_to gravatar_for(timeline_item.user), timeline_item.user %>
	<span class="user">
		<%= link_to timeline_item.user.name, timeline_item.user %>
	</span>
	<span class="content"><%= wrap_text(timeline_item.content) %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(timeline_item.created_at) %> ago.
	</span>
	
	<%= render 'shared/delete_link', object: timeline_item %>
	
</li>