<% provide(:title, "Your Home Page") %>
<%- content_for :sidebar do -%>


<div class="span4 loop-settings-sidenav">
   <aside>
    <section> 
      <%= gravatar_for current_user, size: 40 %><a href="<%= user_path current_user %>">
      <%= current_user.name %></a>@<%= current_user.username %>
   </section>
   <section>
        <%= render 'shared/user_stats' %>
      </section>
<br />
    <section>
      <%= render 'shared/spin_form' %>
    </section>
</aside>
</div>
<%- end -%>

<%- content_for :body do -%>

<div class="span8 well">
      <h3>Spins Timeline</h3>
      <%= render 'shared/timeline' %>
</div>
<%- end -%>
