<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
<body class='<%= body_class %>'>
	<div class="container">
		<div id="mainbar">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<%= link_to "spin", root_url , :class => "brand", id: "logo" %>
						<%= render 'layouts/navbar' %>
					</div>
				</div>
			</div>
		</div>

		<%# Inizio layout %>
		<div class="container-fluid separate-container">
			<div class="flash">
			<%= render 'layouts/messages' %>
			</div>
				    <div class="row-fluid">
				    	<%= yield :sidebar %>
				
				    	<%= yield :body %>
		   </div>
	    </div>

	</div>
<div class="container">
	<%= yield :center %>
	<%= render 'layouts/footer' %>
	<%= debug([params, @object]) if Rails.env.development? %>
</div>
<% if signed_in? %>
        <%= render 'layouts/modal' %>
        <%= render 'layouts/modal_carousel' %>
 <% end %>
</body>
</html>